In [1]:
#we will introduce pandas option system used to customize behaviours which is display options that we see in our notebook
#pandas include two ways to change settings; one with .syntax and one with specific methods

In [2]:
import pandas as pd
#we will use another library to generate fake datasets  called numpy
# pandas is built on top of numpy library
import numpy as np

In [3]:
#we will look at presentations and displays

### Changing pandas Options with Attributes and Dot Syntax

In [4]:
#we need to generate fake a big dataset
#we will use numpy to create an array of random values and feed it to dataframe constructor to create DataFrame

In [8]:
np.random.randint(0,100,[1000,50])
# we have numpy library np 
#within that library we have random module
# within that module we have a collection of random methods
# numpy is effective in generating random numbers for us
#randint generates random integers for us, 1st two values are lower bound and upper bound
#we are generating random integers fromm 0 10 100
#final parameter is array size that we want to return
#we specify that we want 1000 rows by 50 columns
#by itself it gives us numpy array which is numpy object and not pandas object

array([[50,  1, 96, ...,  1, 96, 10],
       [89, 73, 89, ..., 39, 19, 53],
       [39,  3, 46, ...,  1, 60, 66],
       ...,
       [15, 54, 50, ..., 97,  7, 75],
       [46, 32,  9, ..., 12, 30, 79],
       [ 9, 11, 67, ..., 86,  7, 35]])

In [9]:
data=np.random.randint(0,100,[1000,50])
#everytime we generate it we will get fresh dataset

In [10]:
pd.DataFrame(data)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,67,1,11,26,79,32,75,0,29,88,...,24,41,5,61,81,89,84,42,60,60
1,26,51,86,78,45,73,63,3,75,93,...,98,2,28,40,10,97,96,22,54,78
2,36,73,61,47,23,14,35,92,58,21,...,82,79,23,28,94,20,60,80,44,90
3,10,4,17,59,44,98,18,71,98,88,...,45,11,89,28,91,69,30,89,60,40
4,93,6,28,46,95,11,34,8,3,52,...,87,64,3,34,65,20,25,44,10,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,13,41,61,27,98,49,91,29,44,20,...,57,69,55,87,96,42,30,96,87,75
996,13,74,94,77,39,57,66,1,18,89,...,29,11,77,86,65,67,11,79,59,81
997,31,94,55,69,55,90,35,75,29,63,...,90,20,38,51,32,91,33,47,71,51
998,37,22,76,27,26,85,8,83,74,81,...,47,79,45,52,38,18,43,66,56,52
999,13,26,43,48,69,16,20,57,72,7,...,61,16,65,24,44,40,10,46,66,25

In [12]:
df=pd.DataFrame(data)
df.tail(12)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
988,71,38,46,95,81,25,61,5,22,42,...,7,90,70,7,29,3,44,41,37,26
989,67,98,53,67,28,90,11,27,83,85,...,18,62,80,38,38,33,85,87,0,50
990,17,21,76,15,34,71,21,66,65,25,...,15,82,69,65,92,57,16,71,73,85
991,38,65,32,1,78,97,89,71,25,69,...,86,79,84,49,49,56,47,88,70,30
992,1,22,15,78,2,56,71,61,88,2,...,24,15,75,75,24,34,49,31,76,52
993,64,8,1,62,18,45,28,63,51,28,...,83,78,69,87,46,79,36,2,45,24
994,35,28,96,76,87,73,29,3,35,47,...,20,78,99,81,29,32,53,85,42,51
995,13,41,61,27,98,49,91,29,44,20,...,57,69,55,87,96,42,30,96,87,75
996,13,74,94,77,39,57,66,1,18,89,...,29,11,77,86,65,67,11,79,59,81
997,31,94,55,69,55,90,35,75,29,63,...,90,20,38,51,32,91,33,47,71,51
998,37,22,76,27,26,85,8,83,74,81,...,47,79,45,52,38,18,43,66,56,52
999,13,26,43,48,69,16,20,57,72,7,...,61,16,65,24,44,40,10,46,66,25

In [13]:
#how to use options within pandas library using the .dot syntax
pd.options.display.max_rows
#lets say we want to see max no. of rows that pandas is going to output

60

In [14]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,67,1,11,26,79,32,75,0,29,88,...,24,41,5,61,81,89,84,42,60,60
1,26,51,86,78,45,73,63,3,75,93,...,98,2,28,40,10,97,96,22,54,78
2,36,73,61,47,23,14,35,92,58,21,...,82,79,23,28,94,20,60,80,44,90
3,10,4,17,59,44,98,18,71,98,88,...,45,11,89,28,91,69,30,89,60,40
4,93,6,28,46,95,11,34,8,3,52,...,87,64,3,34,65,20,25,44,10,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,13,41,61,27,98,49,91,29,44,20,...,57,69,55,87,96,42,30,96,87,75
996,13,74,94,77,39,57,66,1,18,89,...,29,11,77,86,65,67,11,79,59,81
997,31,94,55,69,55,90,35,75,29,63,...,90,20,38,51,32,91,33,47,71,51
998,37,22,76,27,26,85,8,83,74,81,...,47,79,45,52,38,18,43,66,56,52
999,13,26,43,48,69,16,20,57,72,7,...,61,16,65,24,44,40,10,46,66,25

In [15]:
#we can provide new value to it
pd.options.display.max_rows = 18

In [16]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,67,1,11,26,79,32,75,0,29,88,...,24,41,5,61,81,89,84,42,60,60
1,26,51,86,78,45,73,63,3,75,93,...,98,2,28,40,10,97,96,22,54,78
2,36,73,61,47,23,14,35,92,58,21,...,82,79,23,28,94,20,60,80,44,90
3,10,4,17,59,44,98,18,71,98,88,...,45,11,89,28,91,69,30,89,60,40
4,93,6,28,46,95,11,34,8,3,52,...,87,64,3,34,65,20,25,44,10,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,13,41,61,27,98,49,91,29,44,20,...,57,69,55,87,96,42,30,96,87,75
996,13,74,94,77,39,57,66,1,18,89,...,29,11,77,86,65,67,11,79,59,81
997,31,94,55,69,55,90,35,75,29,63,...,90,20,38,51,32,91,33,47,71,51
998,37,22,76,27,26,85,8,83,74,81,...,47,79,45,52,38,18,43,66,56,52
999,13,26,43,48,69,16,20,57,72,7,...,61,16,65,24,44,40,10,46,66,25

In [35]:
pd.options.display.max_rows = 4

In [36]:
df

     0   1   2   3   ...  46  47  48  49
0    85  41  87  52  ...  17  75  68  85
1    17  64  10  42  ...   1  72  52  69
..   ..  ..  ..  ..  ...  ..  ..  ..  ..
998  95  64  81  14  ...   4  11  46  72
999   6  17  41  54  ...  78  90  79  90

[1000 rows x 50 columns]

In [37]:
pd.options.display.max_columns

8

In [20]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,67,1,11,26,79,32,75,0,29,88,...,24,41,5,61,81,89,84,42,60,60
1,26,51,86,78,45,73,63,3,75,93,...,98,2,28,40,10,97,96,22,54,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,37,22,76,27,26,85,8,83,74,81,...,47,79,45,52,38,18,43,66,56,52
999,13,26,43,48,69,16,20,57,72,7,...,61,16,65,24,44,40,10,46,66,25

In [38]:
pd.options.display.max_columns=8
#if we want to set new value to this

In [22]:
df

     0   1   2   3   ...  46  47  48  49
0    67   1  11  26  ...  84  42  60  60
1    26  51  86  78  ...  96  22  54  78
..   ..  ..  ..  ..  ...  ..  ..  ..  ..
998  37  22  76  27  ...  43  66  56  52
999  13  26  43  48  ...  10  46  66  25

[1000 rows x 50 columns]

### Changing pandas Options with Methods

In [24]:
data=np.random.randint(0,100,[1000,50])
df=pd.DataFrame(data)
df.tail(2)

     0   1   2   3   ...  46  47  48  49
998  95  64  81  14  ...   4  11  46  72
999   6  17  41  54  ...  78  90  79  90

[2 rows x 50 columns]

In [25]:
#in this lesson we will use alternate way to change options
#get option, set option , reset option, describe option

In [34]:
pd.get_option("max_rows")
#called diretly on pandas library
#option name whose value you want to access

20

In [27]:
pd.get_option("max_columns")

8

In [39]:
pd.set_option("max_rows",16)

In [40]:
df

     0   1   2   3   ...  46  47  48  49
0    85  41  87  52  ...  17  75  68  85
1    17  64  10  42  ...   1  72  52  69
2    85  78  95  65  ...  74  84  28  55
3    47   7  14  16  ...   6  84  21  95
4    56  42  37  72  ...  96   7  38   2
..   ..  ..  ..  ..  ...  ..  ..  ..  ..
995   8  21  16   7  ...  15   8  83  70
996  86  10  21  88  ...  35  31  58  57
997  30  67  54  37  ...  65  42  84  15
998  95  64  81  14  ...   4  11  46  72
999   6  17  41  54  ...  78  90  79  90

[1000 rows x 50 columns]

In [41]:
pd.set_option("max_rows",20)

In [42]:
df

     0   1   2   3   ...  46  47  48  49
0    85  41  87  52  ...  17  75  68  85
1    17  64  10  42  ...   1  72  52  69
2    85  78  95  65  ...  74  84  28  55
3    47   7  14  16  ...   6  84  21  95
4    56  42  37  72  ...  96   7  38   2
..   ..  ..  ..  ..  ...  ..  ..  ..  ..
995   8  21  16   7  ...  15   8  83  70
996  86  10  21  88  ...  35  31  58  57
997  30  67  54  37  ...  65  42  84  15
998  95  64  81  14  ...   4  11  46  72
999   6  17  41  54  ...  78  90  79  90

[1000 rows x 50 columns]

In [43]:
pd.set_option("max_columns",20)

In [44]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,85,41,87,52,11,85,30,88,2,69,...,55,35,59,51,13,90,17,75,68,85
1,17,64,10,42,20,82,27,11,89,46,...,38,48,43,96,42,24,1,72,52,69
2,85,78,95,65,51,21,68,81,32,46,...,7,28,42,9,32,8,74,84,28,55
3,47,7,14,16,72,80,72,21,18,44,...,28,53,1,14,46,91,6,84,21,95
4,56,42,37,72,26,18,57,36,57,88,...,72,0,95,23,3,37,96,7,38,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,8,21,16,7,86,44,39,5,0,82,...,67,90,63,23,78,20,15,8,83,70
996,86,10,21,88,14,80,62,62,88,77,...,49,0,83,19,16,90,35,31,58,57
997,30,67,54,37,70,14,60,23,20,99,...,82,96,30,32,39,14,65,42,84,15
998,95,64,81,14,44,18,74,69,72,40,...,67,64,1,45,94,22,4,11,46,72
999,6,17,41,54,14,54,28,79,82,7,...,67,19,89,88,51,54,78,90,79,90

In [45]:
pd.options.display.max_columns

20

In [46]:
pd.options.display.max_columns=10

In [47]:
pd.get_option("max_columns")

10

In [48]:
pd.get_option("mAX_columns")

10

In [50]:
pd.reset_option("max_rows")
#to reset default values

In [51]:
pd.get_option("max_rows")

60

In [52]:
pd.reset_option("max_columns")

In [53]:
pd.get_option("max_columns")

20

In [54]:
pd.describe_option("max_columns")
#also gives default value as well as currently set value

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

### The precision Option

In [56]:
#alters number of digits after floating point numbers
#it doesnt modify the number, just hide complexity of it
df=pd.DataFrame(np.random.randn(5,5))
df

          0         1         2         3         4
0  1.433703 -1.122402 -0.234289  0.072987 -0.155400
1  0.682750 -0.779895 -0.540653 -0.305985  0.833636
2 -0.810074  0.619985  1.485087 -0.664568 -0.782472
3  0.135422  1.077855 -1.511202  0.586144 -0.039535
4 -1.181725  0.160003 -1.901686  0.561755  1.582387

In [57]:
#by default pandas show six digits or numbers after decimal point
#we want to limit to 2 in display only
#we dont want to modify actual numbers

In [58]:
pd.get_option("precision")

6

In [59]:
pd.set_option("precision",2)

In [60]:
df
#values rounded off

      0     1     2     3     4
0  1.43 -1.12 -0.23  0.07 -0.16
1  0.68 -0.78 -0.54 -0.31  0.83
2 -0.81  0.62  1.49 -0.66 -0.78
3  0.14  1.08 -1.51  0.59 -0.04
4 -1.18  0.16 -1.90  0.56  1.58

In [61]:
pd.reset_option("precision")

In [62]:
df
#original data is preserved

          0         1         2         3         4
0  1.433703 -1.122402 -0.234289  0.072987 -0.155400
1  0.682750 -0.779895 -0.540653 -0.305985  0.833636
2 -0.810074  0.619985  1.485087 -0.664568 -0.782472
3  0.135422  1.077855 -1.511202  0.586144 -0.039535
4 -1.181725  0.160003 -1.901686  0.561755  1.582387